@import "tailwindcss";

@keyframes fade {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0px); }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}
